<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%=title %></title>
        <link rel="stylesheet" href="/css/stylesLinks.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&family=Roboto+Mono:wght@100;500&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="smallHead">
                <h4 class="titulo"><a class="home" href="/">LGN CREATIVA</a></h4>
                <div class="logo">
                    <img src="/images/LGN_Fondo_Links-03.png">
                </div>
            </div>
            <p class="saludo">Hola, <span> Legionario</span></p>
        </header>
        <section>
            <ul class="tablaLinks">
                <li class="columna nombre">
                    <div class="titulo-columna"><img src="/images/LGN_Fondo_Links-14.png">Nombre</div>
                    <ul>
                        <% for(let i = 0;i < links.length; i++) { %>
                            <li><%= links[i].nombre %></li> 
                        <% } %>
                    </ul>
                </li>
                <li class="columna link">
                    <div class="titulo-columna"><img src="/images/LGN_Fondo_Links-10.png">Link</div>
                    <ul>
                        <% for(let i = 0;i < links.length; i++) { %>
                            <li><a href="<%= links[i].link %>"><%=links[i].alias %></a> </li>
                        <% } %>
                    </ul>
                </li>
                <li class="columna descripcion">
                    <div class="titulo-columna"><img src="/images/LGN_Fondo_Links-18.png">Descripción</div>
                    <ul>
                        <% for(let i = 0;i < links.length; i++) { %>
                            <li><%= links[i].descripcion %> <a href="/editar/<%= links[i].id %>"><i class="fas fa-edit"></i></a></li>
                        <% } %>
                    </ul>
                </li>  
            </ul>
            <div class="vinculos">
                <% if (title=="LINKS MESA DE TRABAJO") { %>
                    <a class="nuevo" href="/nuevo"><i class="fas fa-plus"></i></a><a class="nuevo" href="/eliminados"><i class="fas fa-recycle"></i></a>
                <% } %>
                    <a class="nuevo logOut" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                </div>
        </section> 
        <footer>
            <img src="/images/LGN_Fondo_Links-02.png">
        </footer>        
    </body>
</html>